<%= form_for @todo_item do |f| %>

  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="page-header row-fluid">
    <div class="span1">
      <%= f.check_box :completed, :class => 'regular-checkbox' %>
      <%= f.label :completed, raw("&nbsp;"), :style => 'margin-left: 11px' %>
    </div>
    <div class="span11">
      <%= f.text_field :title, :class => 'span12', :style => 'font-size: 24px', :placeholder => 'Title' %>
    </div>
  </div> 
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :notes, :placeholder => "Notes", :class => "span12" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary', :disable_with => "Saving..." %>
    <%= link_to raw('<i class="icon-chevron-left"></i> Back'), @todo_item, :class => 'btn' %>
    <%= link_to raw('<i class="icon-th-list"></i> List'), todo_items_path, :class => 'btn' %>
    <%= if params[:action] != 'new'
        link_to raw('<i class="icon-trash icon-white"></i>&nbsp;Delete'), @todo_item, :method => :delete, :class => 'btn btn-danger'
      end %> 
  </div>
<% end %>
