<h2 class="page-header"><%= params[:completed] == nil ? 'All' : (params[:completed] == true ? 'Completed' : 'Incomplete') %> Todos</h2>

<table class="table table-striped todo-list">

  <thead>
    <tr>
      <th>Check</th>
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @todo_items.each do |todo| %>
      <tr data-id="<%= todo.id.to_s %>">
        <td>
          <%= check_box_tag "todo_item[" + todo.id.to_s + "][completed]", "1", todo.completed, :class => 'regular-checkbox' %>
          <%= label "todo_item[" + todo.id.to_s + "]", "completed", raw("&nbsp;") %>
          <%= hidden_field_tag("todo_item[" + todo.id.to_s + "][completed][id]", todo.id) %>
        </td>
        <td>
          <%= link_to todo.title, todo, :class => (todo.completed ? 'complete' : 'incomplete') %>
        </td>
        <td>
          <%= link_to raw('<i class="icon-pencil"></i>'), edit_todo_item_path(todo), :class => "btn" %>
        </td>
        <td>
          <%= link_to raw('<i class="icon-white icon-trash"></i>'), todo, :method => :delete, :class => "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<% unless @todo_items.empty? %>
  <div class="well multi-actions">
    <button class="btn check-all"><i class="icon-check"> &nbsp;Complete All</i></button>&nbsp;
    <button class="btn uncheck-all"><i class="icon-check-empty"> &nbsp;Uncomplete All</i></button>
  </div>
<% end %>

<div id="no-incomplete"<%= @todo_items.empty? && params[:completed] == false ? '' : raw(' style="display: none;"') %>>
  <div class="cake pull-left"></div>
  <h5>Congratulations, you completed everything! <br>Here's some cake to celebrate.</h5>
</div>

<div id="no-todos"<%= @todo_items.empty? && params[:completed] == nil ? '' : raw(' style="display: none;"') %>>
  <h5>Oh no, you've run out of things to do! Quickly, <%= link_to raw('Create a new one <i class="icon-chevron-right"></i>'), new_todo_item_path, :class => "btn btn-info" %></h5>
</div>
  
<div id="no-complete"<%= @todo_items.empty? && params[:completed] == true ? '' : raw(' style="display: none;"') %>>
  <h5>Looks like you haven't completed anything. Better get to work!</h5>
</div>