<div class="page-header row-fluid">
	<div class="span1">
      <%= check_box_tag "completed", "1", @todo_item.completed, :class => 'regular-checkbox' %>
      <%= label :completed, "completed", raw("&nbsp;"), :style => 'margin-top: 16px; margin-left: 13px'%>
    </div>
    <div class="span11">
      <h3><%= @todo_item.title %></h3>
    </div>
</div>

<% if !@todo_item.notes.empty? %>
	<p><%= @todo_item.notes %></p>
<% end %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-chevron-left"></i> Back'), todo_items_path, :class => 'btn'%>
	<%= link_to raw('<i class="icon-pencil"></i> Edit'), edit_todo_item_path(@todo_item), :class => 'btn' %> 
  <%= link_to raw('<i class="icon-trash icon-white"></i>&nbsp;Delete'), @todo_item, :method => :delete, :class => 'btn btn-danger' %> 
</div>