<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li><a href="/all">All</a></li>
      <li><a href="/all/incomplete">Incomplete</a></li>
      <li><a href="/all/complete">Complete</a></li>
      <li><a href="/new" class="btn btn-info"><i class="icon-white icon-plus"></i> New Todo</a><li>
    </ul>
    <h3 class="muted"><a href="/">Todo List</a></h3>
  </div>

  <hr>

  <div class="row-fluid">

	<% if flash[:notice] %>
		<div class="alert alert-success"><%= notice %></div>
	<% end %>
  	
  	<%= yield %>

  </div>

  <hr>

</div>

</body>
</html>
