<!DOCTYPE html>
<html>
<head>
  <title>To-Do List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="mark_page_dirty()">

<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li><a href="/all">All</a></li>
      <li><a href="/all/incomplete">Incomplete</a></li>
      <li><a href="/all/complete">Complete</a></li>
      <li><a href="/new" class="btn btn-info"><i class="icon-white icon-plus"></i> New Todo</a></li>
    </ul>
    <h3 class="muted"><a href="/">To-Do List</a></h3>
  </div>

  <hr>

  <% if flash[:notice] %>
    <div class="alert alert-success"><%= notice %></div>
  <% end
    if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
  <% end %>

  <div class="row-fluid">

  	<%= yield %>

  </div>

  <hr>

</div>
<form name="back_detector">
  <input type="hidden" id="page_is_dirty" name="page_is_dirty" value="0" />
</form>
</body>
</html>
